<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <div class="nav-wrapper">
    <a href="home" class="brand-logo">BRE Investments</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="about.html"></a>About Our Service</li>
      <li><a href="login.html"></a>Login</li>
      <li><a href="signup.html"></a>Sign Up</li>
    </ul>
  </div>
</body>
</html>
